* { 
  margin: 0;
  padding: 0;
}
.App_cold{
  background-image: url('cold.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.App_hot{
  background-image: url('hot1.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin:auto;
}
.data{
  display: flex;
  margin: auto;
  margin-top: 15px;
  border: 1px solid gray;
  width: 500px;
  height: 500px;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
}
h1{
  color:rgb(68, 18, 184);
}
form{
  display: flex;
  justify-content: center;
  margin: 5px;
}
Button{
  margin: 5px;
}