* { 
  margin: 0;
  padding: 0;
}
.App_cold{
  background-image: url('background1.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  
}
.App_hot{
  background-image: url('city.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.common{
  background-image: url('city1.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  
}
.data{
  display: flex;
  margin: auto;
  margin-top: 15px;
  border: 1px solid gray;
  width: 500px;
  height: 500px;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(12, 4, 0);
  
}
h1{
  color:rgb(15, 4, 38);
  font-size:"150px";
}
form{
  display: flex;
  justify-content:center;
  margin: 5px;
}
Button{
  color: antiquewhite;

}
h3{
  margin-top: 50px;
}
.temp{
  display:flex;
  justify-content:space-around;

}